
.image{
    -fx-max-height: 0.1;
    -fx-max-width: 0.1;
}
.root{
    -fx-background-color: PINK;
}
.topCenterPane{
    -fx-padding: 10;
    -fx-text-alignment: center_left;
    -fx-spacing: 30;
    -fx-min-height: 500;
    -fx-background-color: darkgreen;
    -fx-alignment: center_left;
}
.buttons{
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-spacing: 30;
    -fx-min-width: 100;
    -fx-font-family: "Times New Roman";
}
.buttons:hover{
    -fx-font-weight: bold;
}

.text-for-check{
    -fx-font-family: "Times New Roman";
    -fx-alignment: top_center;
    -fx-font-size: 20;
}
.text-for-check:hover{
    -fx-font-weight: bold;
}